@import './styles/header.css';
@import './styles/card-holder.css';
@import './styles/card.css';
@import './styles/history.css';
@import './styles/cart.css';

html,
body {
  font-family: 'Roboto', sans-serif;
  height: auto;
  width: 100%;
}
