.card {
  align-items: center;
  background: #f2f2f2;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #c7c7c7;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: 10px;
  width: 270px;
}

.card-title {
  align-items: center;
  background: #b9b9b9;
  display: flex;
  height:12.5%;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.card-desc {
  align-items: center;
  display: flex;
  height: 12.5%;
  justify-content: center;
  margin: 0;
  width:100%;
}

.card-img {
  border-radius: 2px;
  filter: grayscale(40%);
  height:50%;
  width: 90%;
}

.card-price {
  align-items: center;
  display: flex;
  height: 12.5%;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.add-to-cart-btn {
  align-items: center;
  background: #24303d;
  border-radius: 2px;
  border: none;
  color: #fd9827;
  display: flex;
  height: 8%;
  justify-content: center;
  margin: 0 0 20px 0;
  width: 60%;
}

.add-to-cart-btn:hover {
  background: #24303d;
  color: #fff;
}
