header {
  align-items: center;
  background: #24303d;
  color: #FFF;
  display: flex;
  height: 125px;
  justify-content: center;
  width: 100%;
}

header h1 {
  font-size: 3em;
  font-weight: 100;
}

#logo-span {
  color: #fd9827;
}
