.history {
  background: rgba(255, 140, 12, 0.25);
  display: flex;
  flex-direction: row-reverse;
  float: left;
  height: 100vh;
  margin: 0;
  position: absolute;
  width: auto;
  z-index: 1;
}

.history-tab {
  display: flex;
  font-size: 0.8em;
  width: 80px;
}

.history-toggle {
  background: #f2f2f2;
  border: none;
  font-size: 0.7em;
  height: 50px;
  width: 100%;
}

.history-toggle:hover {
  background: #fd9827;
  color: #24303d;
}

.history-full {
  background: rgba(36, 48, 61, 0.85);
  display: none;
  flex-direction: column;
  overflow: scroll;
  width: 300px;
}

.history-full h3 {
  align-items: center;
  color: #fff;
  display: flex;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.single-order {
  background: orange;
  height:115px;
  margin: 5px;
  text-align: center;
  width: 90%;
}

.order-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
}

.toggle-history-display {
  display: flex;
}
