.history {
  display: flex;
  position: absolute;
  float: left;
  height: 500px;
  width: auto;
  background: rgba(255, 140, 12, 0.25);
  margin: 0;
  z-index: 1;
  flex-direction: row-reverse;
}

.history-tab {
  display: flex;
  width: 80px;
  font-size: 0.8em;
}

.history-toggle {
  width: 100%;
  height: 50px;
  font-size: 0.7em;
  border: none;
  background: #f2f2f2;
}

.history-full {
  display: none;
  width: 300px;
  background: maroon;
  flex-direction: column;
}

.history-full h3 {
  width: 100%;
  height: 100px;
  background: purple;
}

.single-order {
  height:150px;
  width: 100%;
  background: orange;
}

.toggle-history-display {
  display: flex;
}
